<% provide(:title, 'About') %>
<div class="bgpinkpaper">
	<div class="row">
		<div class="small-9 small-centered large-5 large-centered columns">
			<h1>Every Cupcake</h1>
		</div>
	</div>
	<div class="row">
		<div class="small-11 small-centered columns">
		<p>This project demonstrates Ruby on Rails development skills combined with a love for sweets!</p>
		</div>
	</div>
	<div class="row">
		<div class="small-5 small-centered columns">
			<%= image_tag image_url("bluechocolatelcf.png")%>
		</div>
	</div>
</div>