<div class="bgpinkpaper">
	<div class="row">
		<div class="small-10 large-4 small-centered columns carousel">
			<!-- CAROUSEL -->
			<ul data-orbit >
				<li>
					<%= image_tag image_url("heart.png") %>
				</li>
				<li>
					<%= link_to (image_tag image_url("findstore.png")), map_path %>
				</li>				
				<li>
					<%= link_to (image_tag image_url("recipes.png")), mastercakes_path %>
				</li>
			</ul>
		</div>
	</div>
	<div class="row">
		<div class="small-5 large-2 small-centered columns">
			<%= link_to "Sign Up", signup_path, class:"button medium round signup-button" %>
		</div>
	</div>
</div>

