<div class="bgpinkpaper">
	<div class="row">
		<div class="small-11 small-centered columns">
			<h1>Cupcake Lover's Unite</h1>
		</div>
		<div class="large-4 offset-1 small-9 columns">
		<!-- CAROUSEL -->
				<ul data-orbit>
					<li>
						<%#= image_tag "/assets/cupcakes.png" %>
					</li>
					<li>
						<%#= image_tag "/assets/choccherrycc.png" %>
					</li>				
					<li>
						<%#= image_tag "/assets/chocolatecc.png" %>
					</li>
				</ul>
		</div>


			<%= link_to "Sign Up", signup_path, class:"medium button" %>
	</div>
</div>

