<div class="row">
	<div id="store-banner">
		<div id="store-banner-1">
		</div>
	</div>
	<div class="small-5 small-centered large-7 large-centered columns">
		<div class="family">
			<div id="mother">
				<%= image_tag image_url("mother.png")%>
			</div>
			<div id="father" class="show-for-medium-up">
				<%= image_tag image_url("father.png")%>
			</div>
			<div id="girl" title="I LOVE Cupcakes!" class="tip-top" data-tooltip >
				<%= image_tag image_url("girl2.png")%>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="large-12 large-centered small-12 small-centered columns store-title">
		<%=link_to "Add Your Favorite Cupcake Store", new_store_path %>
	</div>
</div>
<div class="row">
	<div class="large-11 large-centered small-11 small-centered columns">
		<p>"Please help us build a world class collection of cupcake stores."
		</p>
	</div>
</div>