<% provide :title, 'Cupcake Connoisseurs' %>
<div class="bgaquapaper">
	<div class="row">
		<div class="large-8 large-centered small-11 small-centered columns users">
			<h1>Cupcake Connoisseurs</h1>
		</div>
	</div>
	<div class="row">
		<div class="large-9 large-centered small-11 small-centered columns users"
			<%= will_paginate %>

			<ul class="users">
				<%= render @users %>
			</ul>
			<%= will_paginate %>
		</div>
	</div>
</div>
