<% provide :title, 'Sign up' %>
<h1>Sign up</h1>
	<%= form_for @user do |f| %>
		<div class="form">
			<div class="row">
				<div class="large-6 large-offset-3 columns">
					<%= render 'fields', f: f %>
					<%= f.submit "Create my account", class: "button round" %>
	<% end %>
				</div>
			</div>
		</div>

