<% provide :title, 'Sign up' %>
<div class="bgaquapaper">
	<div class="row">
		<div class="small-6 small-centered columns">
			<h1>Cupcake Connoisseur</h1>
			<h2>Sign up here</h2>
		</div>
	</div>
	<%= form_for @user do |f| %>
		<div class="form">
			<div class="row">
				<div class="large-6 large-offset-3 columns">
					<%= render 'fields', f: f %>
					<%= f.submit "Create my account", class: "button round" %>
	<% end %>
				</div>
			</div>
		</div>
</div>

