		<div id="cupcake_search_bar">
      <input id="address" type="textbox" value="San Francisco, CA">
      <input type="button" value="Find Cupcakes" class="large pink button" onclick="codeAddress()">
    </div>
			<br>
			<br>
			<hr/>

    <div id="map-canvas"></div>
    <div id="results">
      <h2>Cupcakes Found Here:</h2>
      <ul id="places">
        <li>
          Enter Address & <br>
          Click Find Cupcakes <br>
          Button!
        </li>
      </ul>
    </div>
	</div>
</div>