<div class="googlemap">
<div class="row">
  <div class="large-5 columns">
	    <div id="cupcake_search_bar">
        <input id="address" type="textbox" value="San Francisco, CA">
        <input type="button" value="Find Cupcakes" class="store-search-button small button round" onclick="codeAddress()">
      </div>
  </div>
</div>
<hr>
<div class="row">
  <div class="large-6 columns">
    <div id="map-canvas">
    </div>
  </div>
  <div class="large-4columns">
      <div id="results">
        <h2>Cupcakes Found Here:</h2>
        <ul id="places">
          <li class="mapaddress">
            Enter Address & <br>
            Click Find Cupcakes <br>
            Button!
          </li>
        </ul>
      </div>
  </div>
</div>