<div class="googlemap">
  <div class="row">
    <div class="large-5 columns">
      <label for="address">Enter Address:</label>
      <input id="address" type="textbox" value="San Francisco, CA">
      <input type="button" value="Find Cupcakes" class="small button round" onclick="codeAddress()">
    </div>
  </div>
  <div class="row">
    <div id="map-canvas" class="large-2 columns"></div>
    <div id="map-results" class="large-6 columns">
      <h2>Cupcakes Found Here:</h2>
      <ul id="places">
        <li class="mapaddress">
          Enter Address & <br>
          Click Find Cupcakes <br>
          Button!
        </li>
      </ul>
    </div>
  </div>
</div>