.googlemap {
	height: 100%;
  margin: 1em 1em;
}
#address {
  width: 220px;
  height: 26px;
}
#map-canvas {
	float: left;
	height:360px;
	width: 360px;
}
#results {
  font-family: Arial, Helvetica, sans-serif;
  float: right;
  height: 90%;
  width: 280px;
  padding: 5px;
  z-index: 5;
  background: #fff;
}
.googlemap h2 {
  font-size: 22px;
  margin: 0 0 5px 0;
}
.googlemap ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  height: 85%;
  width: 280px;
  overflow-y: scroll;
}
.googlemap li {
  background-color: #f1f1f1;
  padding: 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.googlemap li:nth-child(odd) {
  background-color: #fae2f2;
}

