<footer id="footer">
  <div class=row>
    <div class="large-11 large-centered columns">
      <nav>
        <ul>
          <li><%= link_to "About",   about_path %></li>
          <li><%= link_to "Contact", contact_path %></li>
        </ul>
      <div class="by-home"><%= link_to 'Every Cupcake', root_path %></div>
      <div class="by">by Lisa Friedman</div>
      </nav>
    </div>
  </div>
</footer>