<% provide :title, 'Recipes' %>
<div class="purplebg-paper">
<div class="row">
  <div class="small-11 small-offset-1 large-8 columns">
    <div class="non-semantic-protector">
      <div class="ribbon">
        <span class="ribbon-content">Every Cupcake Recipe</span>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <% if current_user %>
    <div class="large-5 large-centered small-10 small-offset-2 columns">
    <%= link_to 'Add a Cupcake Recipe', new_mastercake_path, class:"add-cupcake" %>
    </div>
  <% else %>
    <div class="small-10 small-offset-2 large-6 large-offset-3 columns">
      <%= link_to 'Sign in to Add a Cupcake Recipe', signin_path, class:"add-cupcake" %>
    </div>
  <% end %>
</div>
<div class="row">
  <div class="large-10 large-uncentered small-8 small-centered columns">
    <% for mastercake in @mastercakes %>
      <%= render 'cake', object: mastercake %>
    <% end %>
    </div>
  </div>
</div>




