<%= provide :title, "New Cupcake Recipe" %>
<div class="purplebg-paper">
 	<div class="row">
 		<div class="large-7 large-offset-1 small-10 small-offset-1 columns">
	    <div class="non-semantic-protector">
	      <div class="ribbon">
	        <span class="ribbon-content">Step 1: The Basics</span>
	      </div>
	    </div>
    </div>
 	</div>
	<div class="row">
		<div class="large-7 large-offset-1 small-10 small-offset-1 columns">
	    <fieldset class="thebasics">
				<%= render 'form' %>
			</fieldset>
			<%= link_to 'Back', mastercakes_path %>
		</div>
	</div>
</div>